.done_true {
    text-decoration: line-through;
    color: grey;
}

.delete_true {
  display: none;
}

.li_style {
  list-style-type: decimal-leading-zero;
  margin-top: 10px;
  margin-bottom: 10px;
}
